#pricing{
  background: white;
  margin: 40px;
  h1{
  font-family: $base-font;
  color: $blue;
  margin: 20px;
  }
  h2{
  font-family: Open Sans;
  weight: 400;
  }
  p{
  font-family: Open Sans;
  weight: 300;
  }
}
